@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
body {
    background-color: #1b203d;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
.form_section{
    background-color: #272c4a;
    max-width: 450px;
    width: 95%;
    margin: 100px auto;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 0 10px 0 #cccccc73;
    padding: 20px;
}
.logo_box{
    text-align: center;
}
.logo_box img{
    max-width: 100px;
    width: 90%;
}
.form_section .form_fields{
    margin: 30px 0;
}
.responsive_fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.form_field{
    position: relative;
    margin-bottom: 10px;
}
.responsive_fields .form_field{
    flex-basis: 49%;
}
.form_fields > .form_field input{
    width: 100%;
}
.form_section form .form_field input{
    padding: 10px 0;
    font-size: 18px;
    color:#f1f1f1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}
.form_section form .field_message{
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    display: none;
}
.field_message .icon{
    font-size: 18px;
}
.error .icon{
    color: red; 
}
.form_btn{
    flex-basis: 50%;
    padding: 10px 20px;
    max-width: 200px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #1b203d;
    border: none;
    color: white;
    cursor: pointer;
}
.form_btn:hover{
    color: white;
}
